cryptography
beautifulsoup4
fake-useragent
fastapi
google-genai
lxml
pandas
playwright
PyMuPDF
python-dotenv
python-jobspy
python-multipart
requests
selenium
streamlit
supabase
uvicorn[standard]
webdriver-manager
